/* 修复 mdeditor 弹窗层级 */
.modal-backdrop { z-index: 1001 !important; }
.modal { z-index: 1002 !important; }

/* 修复 Django Taggit 或其他输入框 label 溢出/错位的问题 */
.form-row {
    overflow: visible !important; /* 关键：允许内容溢出容器 */
}
/* 针对 Django 5.x Admin 的字段修复 */
.aligned label {
    display: inline-block;
    padding: 4px 10px 0 0;
    float: left;
    width: 10em; /* 调整标签宽度 */
    word-wrap: break-word;
}
/* 修复 MPTT 缩进显示 */
.mptt-admin-filter { margin-bottom: 20px; }